aside ul { list-style-type: square; }
aside ol { list-style-type: upper-roman;}

article {
    background-image: url("../images/icon.jpg");
    background-repeat:  repeat-y;
    background-position:  right;
    background-attachment: fixed;
    clear: both;
    padding: 1em;
    width: 75%;
    height: 75%;
    float: left;
    column-count: 3;
    column-rule: 1px dashed blue;
    column-gap: 2em;
    margin-left: 2em;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

article img {
    
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}

main body {
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px cyan;
    padding: .5em;
}

body {
    font-size: 100%;  
    width: 95%;
    margin:15px auto;
    background-color: ghostwhite;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    
}

aside {
    width: 20%;
    float: right;
    background-color: lightskyblue;
    padding: 1em;
    position:fixed;
    right: 0%;
    top: 50%;
    border: 2px solid darkblue

}

body #nav_menu ul { list-style-type: none; }
body #nav_menu ul li { float: left; }
body #nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
body #nav_menu ul li a.lastitem { border-right: none; }	
body #nav_menu ul li a.current { color: yellow; }

footer {
    clear: both;
    text-align: center;
    font-size: 80%;
    border-top: 2px solid darkblue;
}