html {
    background-image: linear-gradient(to bottom,white 0%,#492ec2 100%)    
}    
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;  
    width: 1000px;
    background-color: ghostwhite;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/icon.jpg");
    background-repeat:  repeat-y;
    background-position:  right;
    background-attachment: fixed;
}

a:focus, a:hover {
    font-style: italic;
    color: rgb(25, 215, 171)
}

header h1 {
    font-size: 175%;
    color: rgb(17, 132, 209);
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: #492ec2;
    text-indent: 30px;
}
header h3 {
    margin: 3em 2em 1.5em 2em;
    border: 5px double blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px  4px blue;
    padding: 1em;
}

header img {
    float: left;
}

main nav {
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px cyan;
    padding: .5em;
}

div.contact {
    margin: 1.5em 2em 0em 2em;
    border: 5px dotted blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px cyan;
    padding: 1em;
}

.shadow {
    text-shadow: 2px 2px 2px #2e1a87
}

main {
    clear: left;
}

main h3 {
    margin-top: 3em;
    font-size: 105%;
}

#list {
    line-height: 1.5em;
}

footer p.copyright {
    text-align: center;
    font-size: 80%;
}