aside ul { list-style-type: square; }
aside ol { list-style-type: upper-roman;}
aside ul li { float: left; }
aside ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
aside ul li a.lastitem { border-right: none; }	
aside ul li a.current { color: yellow; }
